section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color:rgba(19, 179, 139, 0.767);
}
body{
    text-align: center;
    background-color:green;
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    
}

.facts{
    display: flex;
    margin-bottom: 10px;
}



img{
    max-height: 350px;
    margin-top: 20px;
}